# Dependencias
node_modules/
jspm_packages/
Pagina-Liz/Frontend/node_modules/
Pagina-Liz/Backend/node_modules/

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno y credenciales
.env
.env.local
.env.*.local

# Compilación de Frontend (Angular)
dist/
tmp/
out-tsc/
/angular-devkit/
Pagina-Liz/Frontend/dist/
Pagina-Liz/Frontend/.angular/

# Compilación de Backend
Pagina-Liz/Backend/dist/
Pagina-Liz/Backend/build/

# Datos y Archivos Subidos por el Usuario (¡No subir a Git!)
Pagina-Liz/data/db/
Pagina-Liz/data/uploads/*
Pagina-Liz/data/assets/*
Pagina-Liz/Backend/data/*
Pagina-Liz/Backend/materials_temp/*
!Pagina-Liz/data/uploads/.gitkeep
!Pagina-Liz/data/assets/.gitkeep

# IDEs y Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db
