<footer class="footer-section">
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
    </div>

    <div class="footer-content">
        <div class="slogan">
            <h2>Debate It. Don't Hate It.</h2>
        </div>

        <div class="contact-info">
            <p><a href="mailto:hello@figma.com">hello@figma.com</a></p>
            <p>1750 Candyland Lane,</p>
            <p>Portland, OR 97205</p>
            <p>(646) 555-4567</p>
        </div>
    </div>

    <div class="copyright">
        <p>Universidad Autónoma de Aguascalientes © {{year}} All Rights Reserved</p>
    </div>
</footer>