<header class="main-header">
  <p class="universidad">Benemérita Universidad Autónoma de Aguascalientes</p>
  <h1 class="nombreCompleto">Dra. Estela Lizbeth Muñoz Andrade</h1>
</header>

@if (isLoading) {
  <div class="text-center my-5">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
}

@if (!isLoading) {
  <div class="masonry-grid">
    @for (img of images; track img; let i = $index) {
      <div class="card" (click)="openImage(modalTemplate)">
        <img [src]="img" alt="Foto Galería">
      </div>
      <ng-template #modalTemplate let-modal>
        <div class="modal-body p-0 bg-transparent text-center">
          <img [src]="img" class="img-fluid rounded shadow-lg" alt="Grande">
          <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-3"
          (click)="modal.dismiss()"></button>
        </div>
      </ng-template>
    }
  </div>
}